/* Color Palette */
/* Fonts */
@font-face {
  font-family: "Damion";
  src: url(../fonts/Damion_Regular.ttf); }
@font-face {
  font-family: "Marmelad";
  src: url(../fonts/Marmelad_Regular.ttf); }
body {
  font-family: "Marmelad";
  font-size: 1rem; }

h1 {
  text-align: center; }

.accent_font {
  font-family: "Damion"; }

header {
  height: 90vh;
  background: url(../images/hero_bg_raw.jpg) no-repeat center 20%;
  background-size: cover;
  color: #FFFFFF;
  text-align: center; }
  header .hero {
    height: 100%;
    background-color: rgba(60, 60, 60, 0.4);
    background-image: url(../images/overlay.png);
    background-repeat: repeat;
    padding: 1em; }
  header #logo {
    margin: 10em auto 0;
    display: block;
    height: 12vh;
    margin-bottom: 2vh; }
  header .headline {
    margin-bottom: 10vh;
    font-size: 1.75em;
    line-height: 1; }
  header .accent_font {
    font-size: 1.75em; }

.button {
  display: inline-block;
  height: 40px;
  width: 135px;
  margin: 0.5em; }
  .button img {
    width: 100%;
    height: 100%; }

#play_video {
  display: block;
  margin: 2em auto 1em;
  width: 10vh;
  height: 10vh; }
  #play_video img {
    width: 100%;
    height: 100%; }

section {
  padding: 5vh 0;
  border-bottom: 1px solid #ECECEC; }

.mockup_outline {
  width: 304px;
  height: 598px;
  background-image: url(../images/iphone_wireframe_xs.png); }
  .mockup_outline .mockup_video {
    top: 68px;
    margin: 0 auto;
    border: 3px solid rgba(117, 118, 118, 0.25);
    border-radius: 5px;
    display: block;
    position: relative; }

.copy {
  margin-top: 10vh;
  margin-bottom: 10vh; }
  .copy .em {
    width: 3em;
    height: 3em;
    margin: 0 1em; }
  .copy .em:first-of-type {
    margin-left: 0; }
  .copy .headline {
    margin-top: 1em;
    font-size: 2.5em;
    line-height: 1;
    color: #757676; }
  .copy .accent_font {
    font-size: 1.6em;
    color: #3C3C3C; }

.testimonials .testimonial_card {
  width: auto; }

.benefits .testimonial_card {
  max-width: 350px; }

.testimonial_card {
  border: 1px solid #ECECEC;
  padding: 1em;
  margin-bottom: 1em; }
  .testimonial_card .top {
    display: block;
    width: 100%; }
  .testimonial_card .face {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block; }
  .testimonial_card .handle {
    display: inline-block;
    margin: 1em 0 0 1em;
    font-size: 1em;
    color: #757676; }
    .testimonial_card .handle .name {
      font-size: 1.5em;
      color: #3C3C3C; }
    .testimonial_card .handle .link {
      color: #21C8B8; }
  .testimonial_card .review {
    margin-top: 0.5em;
    font-size: 1.35em; }

.news .logos {
  text-align: center; }
.news .news_logo {
  margin: 1em 1.25em;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5; }

footer {
  height: 500px;
  background: url(../images/hero_bg_raw.jpg) no-repeat center 70%;
  background-size: cover;
  color: #FFFFFF;
  overflow: hidden;
  position: relative; }
  footer .overlay {
    height: 100%;
    background-color: rgba(60, 60, 60, 0.4);
    background-image: url(../images/overlay.png);
    background-repeat: repeat;
    padding: 1em; }
  footer .top_spacer {
    margin-top: 5em; }
  footer i.fa {
    font-size: 4em;
    letter-spacing: 0.25em;
    opacity: 0.7; }
  footer .rating i.fa {
    font-size: 2em;
    letter-spacing: 0.2em;
    color: #F1C40F;
    opacity: 1;
    text-shadow: 1px 1px rgba(60, 60, 60, 0.3);
    text-align: center;
    line-height: 40px; }
  footer .download_rating {
    display: block; }
    footer .download_rating .button, footer .download_rating .rating {
      display: inline-block;
      vertical-align: middle; }
  footer .phone {
    display: block;
    position: absolute; }
  footer .phone#android {
    margin-top: 2em;
    margin-left: 10em; }
  footer .phone#iphone {
    margin-top: 15em; }

/* Responsive Layout */
/* Extra-small devices */
@media (max-width: 767px) {
  .copy {
    text-align: center; }

  .news .news_logo {
    display: block;
    margin: 2em auto; }

  footer {
    text-align: center; }
    footer .download_rating {
      display: inline-block; }
      footer .download_rating .button, footer .download_rating .rating {
        display: block;
        vertical-align: middle; }

  .center-block-xs {
    display: block;
    margin: 0 auto; }

  header #logo {
    margin-top: 20vh;
    height: auto; }
  header .headline {
    margin-bottom: 13vh;
    font-size: 1.25em; }

  .container, .col-xs-12 {
    padding: 0; }

  .copy {
    margin-top: 5vh;
    margin-bottom: 5vh; }
    .copy .headline {
      font-size: 2em; }
    .copy .em:first-of-type {
      margin-left: 1em; } }
/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {
  .copy .headline {
    font-size: 2em; } }
/* Medium-size devices */
@media (min-width: 992px) and (max-width: 1199px) {
  footer #footer_main {
    height: calc(500px - 2em); }

  .pull-down-md {
    position: absolute;
    bottom: 0;
    top: auto; } }
/* Large devices */

/*# sourceMappingURL=style.css.map */
